img {
  border-radius: 100px;
  object-fit: cover;
  max-width: 400px;
  max-height: 450px;
}

img:nth-child(even) {
  border: 1px solid burlywood;
}

img:nth-child(odd) {
  border: 1px solid forestgreen;
}

.lastImage {
  object-fit: contain;
}

.legoSet {
  border-radius: 50px;
  filter: drop-shadow(16px 16px 10px black);
}
